<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="datePreprocessor" class="ua.kiev.prog.DatePreprocessor" />

    <bean id="fileLogger" class="ua.kiev.prog.FileLoggerAPI" init-method="open" destroy-method="close">
        <constructor-arg value="log.txt" />
        <property name="preprocessor" ref="datePreprocessor" /> <!-- optional -->
    </bean>

    <bean id="consoleLogger" class="ua.kiev.prog.ConsoleLoggerAPI">
        <property name="preprocessor" ref="datePreprocessor" /> <!-- optional -->
    </bean>

    <bean id="notifier" class="ua.kiev.prog.Notifier">
        <constructor-arg ref="fileLogger" />
    </bean>
</beans>